@import url(//db.onlinewebfonts.com/c/cbf744f006175e2f7bb1583c91e33882?family=BalboaW01-Medium);
@import url(//db.onlinewebfonts.com/c/dbaa8c0f1e140b5ecd564024833efcfe?family=OrbiW01-Regular);

@font-face {
    font-family: "BalboaW01-Medium";
    src: url("//db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.eot");
    src: url("//db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.svg#BalboaW01-Medium") format("svg");
}

@font-face {
    font-family: "OrbiW01-Regular";
    src: url("//db.onlinewebfonts.com/t/dbaa8c0f1e140b5ecd564024833efcfe.eot");
    src: url("//db.onlinewebfonts.com/t/dbaa8c0f1e140b5ecd564024833efcfe.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/dbaa8c0f1e140b5ecd564024833efcfe.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/dbaa8c0f1e140b5ecd564024833efcfe.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/dbaa8c0f1e140b5ecd564024833efcfe.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/dbaa8c0f1e140b5ecd564024833efcfe.svg#OrbiW01-Regular") format("svg");
}

body {
    margin-top: 40px;
}

ul {
    display: flex;
    list-style: none;
}

.container {
    max-width: 960px;
    margin: auto;
}

#logo-text-group {
    display: flex;
    flex-direction: column;
}

#logo-group {
    display: flex;
}

#header-group {
    display: flex;
    justify-content: space-between;
}

#logo-text {
    font-family: "Yellowtail", cursive;
    font-size: 3em;
}

#content > img {
    width: 100%;
}

#pinterest-icon {
    margin-right: 10px;
}

#posted {
    font-family: "Share Tech";
    color: #A2A2A2;
    font-size: 1em;
}

#title-group {
    margin-bottom: 30px;
}

.title-text {
    margin-bottom: 0;
    font-size: 3em;
    margin-top: 30px;
}

/*used fontspring.com to match from snapshot*/
h2 {
    font-family: "BalboaW01-Medium";
}

#content {
    margin-top: 60px;
    margin-bottom: 60px;
}

article > p {
    color: #A2A2A2;
}

#logo-image {
    height: 45px
}

hr.hr--logo {
    border-top: solid #F9F9F9 1px;
    margin: 50px 0;
}
hr.hr--logo:after {
    content: url( "/img/small-logo.png" );
    /* Controls the position of the logo */
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    /* Controls the whitespace around the symbol */
    padding: 20px;
    background: #FFFFFF;
}

#copy {
    text-align: center;
    color: lightgrey;
}

#copy > p {
    margin-bottom: 5px;
    margin-top: 5px
}

footer {
    margin-bottom: 60px;
}

#vanessa-name {
    font-family: "OrbiW01-Regular";
    font-size: 1.5em;
    margin-bottom: 5px;
}

#vanessa {
    min-width: 70px;
}

#share-recipe-container {
  margin-top: 9px;
  
}

#share-recipe-button {
  background-color: #BC7058;
  color: white;
  padding: 15px 30px;
  border-width: 0px;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
}

#vanessa-description {
  color: #7c7c7c;
  font-family: "Noto Serif", serif;
  line-height: 20px;
}

#vanessa-text {
  color: #7c7c7c;
  margin-left: 20px;
  margin-right: 60px;
}

#profile {
  display: flex;
}

.list-item {
  font-family: "Patrick Hand SC", "Swanky+and+Moo+Moo", sans-serif;
}