@import url(//db.onlinewebfonts.com/c/cbf744f006175e2f7bb1583c91e33882?family=BalboaW01-Medium);
@import url(//db.onlinewebfonts.com/c/dbaa8c0f1e140b5ecd564024833efcfe?family=OrbiW01-Regular);

@font-face {
    font-family: "BalboaW01-Medium";
    src: url("//db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.eot");
    src: url("//db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.svg#BalboaW01-Medium") format("svg");
}

@font-face {
    font-family: "OrbiW01-Regular";
    src: url("//db.onlinewebfonts.com/t/dbaa8c0f1e140b5ecd564024833efcfe.eot");
    src: url("//db.onlinewebfonts.com/t/dbaa8c0f1e140b5ecd564024833efcfe.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/dbaa8c0f1e140b5ecd564024833efcfe.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/dbaa8c0f1e140b5ecd564024833efcfe.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/dbaa8c0f1e140b5ecd564024833efcfe.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/dbaa8c0f1e140b5ecd564024833efcfe.svg#OrbiW01-Regular") format("svg");
}

body {
    margin-top: 40px;
}

#header-group ul {
    display: flex;
    list-style: none;
}

.container {
    max-width: 960px;
    margin: auto;
}

#logo-text-group {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#logo-group {
    display: flex;
}

#header-group {
    display: flex;
    justify-content: space-between;
}

#logo-text {
    font-family: "Yellowtail", cursive;
    font-size: 2em;
    height: 39px;
    margin-top: -5px;
}

#logo-text-sub {
    font-family: "Share Tech";
    color: #A2A2A2;
    font-size: 0.8em;
}

#content > img {
    width: 100%;
}

#pinterest-icon {
    margin-right: 10px;
}

#posted {
    font-family: "Share Tech";
    color: #A2A2A2;
    font-size: 1em;
}

#title-group {
    margin-bottom: 30px;
}

.title-text {
    margin-bottom: 0;
    font-size: 3em;
    margin-top: 30px;
}

#print-icon {
    float: right;
    font-family: "Share Tech";
    font-size: 0.8em;
    color: #7C7C7C;
}

/*used fontspring.com, might run from web server to see font*/
h2 {
    font-family: "BalboaW01-Medium", "Francois One", "Anton";
}

#content {
    margin-top: 60px;
    margin-bottom: 60px;
}

article > p {
    color: #A2A2A2;
}

#logo-image {
    height: 45px
}

hr.hr--logo {
    border-top: solid #F9F9F9 1px;
    margin: 50px 0;
}
hr.hr--logo:after {
    content: url( "./img/small-logo.png" );
    /* Controls the position of the logo */
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    /* Controls the whitespace around the symbol */
    padding: 20px;
    background: #FFFFFF;
}

#shopping-list {
    position: relative;
}

#shopping-notepad {
    width: 100%;
}

#shopping-text {
    margin-top: 22px;
    position: absolute;
    top: 0;
}

#shopping-list li {
    font-family: "Patrick Hand", "Swanky+and+Moo+Moo", sans-serif;
    line-height: 33px;
    font-size: 1.5em;
}

#shopping-list ul {
    list-style-image: url("./img/checkbox.png");
}

#shopping-col-1 {
    margin-left: 40px;
    width: 50%;
}

#shopping-col-2 {
    width: 60%;
    padding-left: 150px;
}

#shopping-text {
    display: flex;
    color: #7C7C7C;
}

#copy {
    text-align: center;
    color: lightgrey;
}

#copy > p {
    margin-bottom: 5px;
    margin-top: 5px
}

footer {
    margin-bottom: 60px;
}

#vanessa-name {
    font-family: "OrbiW01-Regular";
    font-size: 1.5em;
    margin-bottom: 5px;
}

#vanessa {
    min-width: 70px;
}

#share-recipe-container {
    margin-top: 9px;
}

#share-recipe-container > a {
    text-decoration: none;
}

#share-recipe-button {
    background-color: #BC7058;
    color: white;
    padding: 15px 30px;
    border-width: 0;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
}

#vanessa-description {
    color: #7C7C7C;
    font-family: "Noto Serif", serif;
    line-height: 20px;
}

#vanessa-text {
    font-weight: 700;
    color: #5A5A5A;
    margin-left: 20px;
    margin-right: 60px;
}

#profile {
    display: flex;
}